body {
  margin: 0;
  padding: 0;
  background-color: black;


  width: 100%;
  font-size: 12px;
  line-height: 1.5;

  font-family: Georgia, serif;
  color: white;
}

.color-test {
  background-color: white;
  color: black
}




.sm-title {
  transform:scale(1,3);
  font-weight: 300;
  position: absolute;
  margin-left: 500px;
  top: 60px;
  display: inline-block;

}

.sm-title-1 {
  transform:scale(1,3);
  font-weight: 300;
  position: absolute;
  right: 850px;
  top: 60px;
  display: inline-block;

}

.toggle-position {
  top: 15%;
  font-size: 35px;

}
.sm-credit-container.toggle-movement {
  animation-name: example2;
  animation-duration: 1s;

}

  .example2 {
   height: 50px;
   overflow: hidden;
   position: relative;
  }
  .example2 h1 {
   position: relative;
   width: 100%;
   height: 100%;
   margin: 0;
   line-height: 50px;
   text-align: center;
   /* Starting position */

  }
  /* Move it (define the animation) */
  @-moz-keyframes example2 {
   0%   { -moz-transform: translateX(-100%); }
   100% { -moz-transform: translateX(100%); }
  }
  @-webkit-keyframes example2 {
   0%   { -webkit-transform: translateX(-100%); }
   100% { -webkit-transform: translateX(100%); }
  }
  @keyframes example2 {
   0%   {
   -moz-transform: translateX(-100%); /* Firefox bug fix */
   -webkit-transform: translateX(-100%); /* Firefox bug fix */
   transform: translateX(-100%);
   }
   100% {
   -moz-transform: translateX(100%); /* Firefox bug fix */
   -webkit-transform: translateX(100%); /* Firefox bug fix */
   transform: translateX(100%);
   }
  }


.sm-title-2 {
  transform:scale(1,3);
  font-weight: 300;
  position: absolute;
  top: 70%;
  left:70px;
  word-spacing: 495px;

}

.bottom-text-container {

  position: absolute;
  bottom: 200px;

  right: 0;
  left: 0

}

.bottom-text-left {
  margin-left: 500px;
  position: absolute;
  display: inline;

}

.bottom-text-middle {
  left: 760px;
  position: absolute;

  display: inline;
}

.bottom-text-right {
  margin-right: 850px;
  float: right;
  position: relative;
  display: inline;

}

.bottom-text-container h1 {
  transform:scale(1,3);

  display: inline;
  font-weight: 300;

  font-stretch: ultra-condensed;
}



.sm-credit-container {
  position: absolute;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 30px;
  left: 600px;
  bottom: 270px;




}

.sm-page-number {
  position: absolute;
  font-family: Brush Script MT, Brush Script Std, cursive;
  font-size: 20px;
  left: 775px;
  bottom: 120px;
  position: absolute;

}


.button1 {
  position: absolute;
  bottom: 3%;
  margin-left: 20px;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
}


.button2 {
  position: absolute;
  bottom: 10%;
  margin-left: 20px;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;


}

.button3 {
  position: absolute;
  bottom: 17%;
  margin-left: 20px;
  font-size: 15px;
  font-family: Helvetica, Arial, sans-serif;
  display: inline-block;
}




.handyeah {

  position: absolute;
  margin-left: 500px;
  top: 30px;

}

img {
  width: 28%;
  height: auto;
}


a:link, a:visited {
  background-color: purple;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

a:hover, a:active {
  background-color: blue;
}
